.head {
    background-image: url(./images/banner\ \(1\).png);
    height: 150vh;
    display: flex;
}

.navhead {
    color: white;
    margin-left: 100px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: x-large;
    padding-top: 70px;
    width: 900px;
}

.one {
    padding-top: 300px;
    font-size: xxx-large;
}

.btn-primary {
    background-color: black !important;
    color: azure !important;
    border-radius: 30px !important;
    height: 7vh !important;
    width: 200px !important;
}

.nav {
    height: 100vh;
    padding-top: 15px;
}

.two {
    font-family: Arial, Helvetica, sans-serif;
    font-size: x-large;
    padding-top: 50px;
    padding-left: 195px;
}

.three {
    padding-top: 150px;
    width: 450px;
    height: 120vh;
}

.center {
    background-color: rgb(43, 40, 40);
    height: 110vh;
    width: 100%;
}

.cen {
    background-color: rgb(241, 116, 0);
    height: 80vh;
    width: 600px;
    margin-left: 100px;

}

.four {
    margin-top: -470px;
    margin-left: 150px;
    height: 90vh;
    width: 700px;
}

.five {
    text-align: center;
    color: #857e7e;
    margin-left: 850px;
    margin-top: -300px;
    width: 400px;
    background-color: white;
    height: 25vh;
    padding-top: 20px;
}

.eight {
    text-align: center;
    width: 100%;
    color: #857e7e;
    padding-top: 50px;
    width: 100%;
}

.six {
    text-align: center;
    width: 100%;
    flex-wrap: wrap;
    height: 100vh;
    background-color: #f0ebeb;
    display: flex;
}

.seven {
    font-size: xxx-large;
}
.cards {
    height: 70vh;
    display: flex;
    justify-content: center;
}

.iphon1 {
    background-color: rgb(5, 4, 4);
    width: 25%;
    color: white;
    height: 60vh;
    text-align: center;
    font-size: larger;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    border-radius: 25px 0 0 25px;
}
.iphon1:hover {
    background-color: gray
}
.iphon2 {
    background-color: rgb(5, 4, 4);
    width: 25%;
    height: 60vh;
    color: white;
    text-align: center;
    font-size: larger;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;

}

.iphon2:hover {
    background-color: gray
}

.iphon3 {
    background-color: rgb(5, 4, 4);
    width: 25%;
    height: 60vh;
    text-align: center;
    color: white;
    font-size: larger;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    border-radius: 0 25px 25px 0;
}

.iphon3:hover {
    background-color: gray;
}

.img3 {
    width: 75%;
    padding-left: 30px;
    padding-top: 15px;

}

.img4 {
    width: 75%;
    padding-left: 30px;
    padding-top: 15px;

}
.img5 {
    width: 75%;
    padding-left: 30px;
    padding-top: 15px;
}
.tn{
    margin-left: 380px;
    padding-top: 80px;
    font-size: xxx-large;
    color: #757171;
}
.nine{
    height: 85vh;
}
.el{
    margin-top: 50px;
}
.ten{
    border: 2px solid #757171;
    border-radius: 10px;
    margin-top: 25px;
    width: 450px;
    margin-left: 450px;
    height: 6vh;
    padding-top: 5px;
    text-align: center;
}
.contect{
    height: 90vh;
    background-color: rgb(20, 20, 20);
    color: #757171;
}
.chl{
    color: white;
    margin-top: 70px;
    font-size: xxx-large;
    font-weight: bolder;
    margin-left: 110px;
    font-family: Arial, Helvetica, sans-serif;
}
.chil{
    color: rgb(194, 192, 192);
    font-weight: bolder;
    margin-top: 70px;
    font-size: xxx-large;
    margin-left: 20px;
    font-family: Arial, Helvetica, sans-serif;
}
.ch{
    display: flex;
}
.header{
    width: 100%;
    height: 50vh;
    display: flex;
    margin-top: 30px;
    background-color: rgb(20, 20, 20);
}
.heade{
    background-color: rgb(20, 20, 20);
    color: azure;
    width: 500px;
    text-align: center;
    margin-left: 100px;
    padding-top: 30px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: xxx-large;
}

.inp{
    border: #757171 solid 2px;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    background-color: rgb(20, 20, 20);
    margin-left: 30px;
    width: 600px;
    padding-top: 30px;
}

.button{
    display: flex;
}
.but{
    padding-left: 180px;
    width: 50%;
}
.butn{
    padding-left: 200px;
    width: 50%;
}
.bn{
    background-color: white;
    width: 250px;
    height: 7vh;
    border: 0px;
    color: #757171;
    font-weight: bolder;
}
.bn:hover{
    background-color: #757171;
    color: white;
}
.bns{
    background-color: black;
    width: 150px;
    height: 7vh;
    color: white;
    font-weight: bolder;
    border: 0px;
}
.bns:hover{
    background-color: #757171;
}
.end{
    background-color: rgb(255, 81, 0);
    height: 8vh;
    display: flex;
}
.ends{
    margin-top: 15px;
    margin-left: 500px;
    color: white;
}
.eds{
    margin-top: 15px;
    color: black;
    margin-left: 8px;
}